* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transform: all 0.2s linear;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
.container {
    width: 1150px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
section {
    padding: 2rem 9%;
}
section:nth-child(even) {
    background: #eee;
}
a {
    text-decoration: none;
}
.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.8rem;
    color: #fff;
    background: var(--black);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.8rem 3rem;
}
.btn:hover {
    background: var(--green);
    letter-spacing: 0.1rem;
}
.sub-heading {
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}
.heading {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}
:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
/* Header */
.header {
    position: fixed;
    background: #fff;
    left: 0;
    top: 0;
    right: 0;
    padding: 10px 7%;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 2.8rem;
    display: flex;
    align-items: center;
}
.icon-logo {
    color: var(--green);
}
.text-logo {
    color: var(--black);
    font-weight: 600;
}
header .nav a {
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    color: var(--light-color);
}
header .nav a.active ,
header .nav a:hover {
    background-color: var(--green);
    color: #fff;
}
header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: 0.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.8rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}
header .icons i:hover,
header .icons a:hover {
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);
}
.icons #menu-bars {
    display: none;
}
#search-from {
    position: fixed;
    top: 110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}
#search-from.active {
    top: 0;
}
#search-from #search-box {
    width: 50rem;
    border-bottom: 0.1rem solid #fff;
    padding: 1rem 0;
    font-size: 3rem;
    background: none;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    color: #fff;
}
.swiper-pagination {
    position: relative;
} 
#search-from #search-box::placeholder {
    margin-top: 20px;
    color: #eee;
}

#search-from #search-box::--webkit-search-cancel-button {
    -webkit-appearance : none;
}
#search-from label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}
#search-from label:hover {
    color: var(--green);
}
#search-from #close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem; 
    font-size: 5rem;
}
.slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}
.slide .content {
    flex: 1 1 45rem
}
.slide .image {
    flex: 1 1 45rem
}
.slide .content span {
    color: var(--green);
    font-size: 2.5rem;
}
.slide .content h3 {
    color: var(--black);
    font-size: 7rem;
}
.slide .content p {
    color: var(--light-color);
    font-size: 2.2rem;
    padding: 0.5rem 0;
    line-height: 1.5;
}
.slide .image img {
    width: 100%;
}
.swiper-pagination-bullet-active {
    background: var(--green);
}
.dish-img {
    display: inline-block;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}
.dishes .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
}
.dishes .box-container .box {
    padding: 2.5rem;
    background: #fff;
    border-radius: 0.5rem;
    border: .1rem solid rgba(0, 0, 0,.2);
    box-shadow:var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}
.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye {
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
}
.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover {
    background: var(--green);
    color: #fff;
}
.dishes .box-container .box .fa-heart {
    right: -15rem;
}
.dishes .box-container .box .fa-eye {
    left: -15rem;
}

.dishes .box-container .box:hover .fa-heart {
    right: 1.5rem;
}
.dishes .box-container .box:hover .fa-eye {
    left: 1.5rem;
}
.dishes .box-container .box h3 {
     color: var(--black);
     font-size: 2.5rem;
}
.dishes .box-container .box .starts {
    padding: 1rem 0; 
}
.dishes .box-container .box .starts i {
    font-size: 1.8rem;
    color: var(--green);
}
.dishes .box-container .box span {
    color: var(--black);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}
.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
.about .row .image {
    flex: 1 1 45rem;
}
.about .row .image img{
    width: 100%;
}
.about .row .content {
    flex: 1 1 45rem;
}
.about .row .content h3 {
    color: var(--black);
    font-size: 4rem;
    padding: .5rem 0;
}
.about .row .content p {
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}
.about .row .content .icon-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}
.about .row .content .icons {
    background: #eee;
    border-radius: .5rem;
    border : .1rem solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
    padding: 1.5rem 1rem;
}
.about .row .content .icons i {
    font-size: 2.5rem;
    color: var(--green)
}
.about .row .content .icons span {
    font-size: 1.5rem;
    color: var(--black)
}
.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.menu .box-container .box {
    position: relative;
    background: #fff;
    border: .1rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);

}
.menu .box-container .box .image {
    height: 25rem;
    width: 100%;
    padding : 1.5rem;
    overflow: hidden;
}
.menu .box-container .box .image img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    object-fit: cover;
}
.menu .box-container .box .image .fa-heart {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color: var(--black);
}
.menu .box-container .box .image .fa-heart:hover {
    background-color: var(--green);
    color: #fff;
}
.menu .box-container .box .content {
    padding: 2rem;
    padding-top: 0;
}
.menu .box-container .box .content .starts {
    padding-bottom: 1rem;
}
.menu .box-container .box .content .starts i {
    font-size: 1.8rem;
    color: var(--green);
}
.menu .box-container .box .content h3 {
    color: var(--black);
    font-size: 2.5rem;
}
.menu .box-container .box .content p {
    color: var(--light-color);
    font-size: 1.6rem;
    padding: .5rem 0;
    line-height: 1.5;
}
.menu .box-container .box .content .price {
    color: var(--green);
    margin-left: 1rem;
    font-size: 2rem;
}
.review .container {
    overflow: hidden;
    width: 100%;
}
.review .slide {
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    position: relative;
}
.review .slide .fa-quote-right {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 6rem;
    color: #ccc;
}
.review .slide .user {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}
.review .slide .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .slide .user h3 {
    color: var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}
.review .slide .user i {
    font-size: 1.3rem;
    color: var(--green);
}
.review .slide p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: var(--light-color);
}
.order form {
    max-width: 90rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 1.5rem;
    margin: 0 auto;
}
.order form .inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.order form .inputBox .input {
    width: 49%;
}
.order form .inputBox .input span {
    display: block;
    padding: .5rem 0;
    font-size: 1.6rem;
    color: var(--light-color);

}

.order form .inputBox .input input,
.order form .inputBox .input textarea {
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-decoration: none;
    margin-bottom: 1rem;
    width: 100%;

}
.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus {
    border: .1rem solid var(--green);
}
.order form .inputBox .input textarea {
    height: 20rem;
    resize: none;
}
input {
    outline: none;
    border: none;
}
.order form .inputBox .btn {
    margin-top: 0;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}
.footer .box-container .box h3 {
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}

.footer .box-container .box a {
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}
.footer .box-container .box a:hover {
    color: var(--green);
    text-decoration: underline;
}
.footer .credit {
    text-align: center;
    border-top: .1rem solid rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    color: var(--black);
    padding: .5rem ;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span {
    color: var(--green);
}























@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 10px 20px;
    }
    section {
        padding: 20px;
    }
}
@media (max-width: 768px) {
    header .icons #menu-bars {
        display: inline-block;
    }
    section {
        padding: 20px;
    }
    header .nav {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: #fff;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .nav.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .nav a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }
    #search-from #search-box  {
        width: 90%;
        margin: 0 1rem;
    }
    .slide .content h3 {
        font-size: 5rem;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .dish-img {
        width: 100%;
    }
    .order form .inputBox .input {
        width: 100%;
    }
}
